:host {
  position: fixed;
  display: flex;
  justify-content: space-around;
  inset: auto 0 0;
  height: 56px;
  margin: 16px;
  border-radius: 444px;
  background-color: var(--medium-color);

  .nav-icon {
    display: flex;
    align-items: center;
    font-size: 28px;
    cursor: pointer;
    gap: 10px;
    color: var(--light-color);
    transition: 0.2s ease-out;

    &.active {
      color: var(--main-light-color);
    }
  }
}
