<nav>
    <span
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="material-symbols-outlined nav-icon">
        home
    </span>
    <hr>
    <span
        routerLink="/youtube-mp3"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="material-symbols-outlined nav-icon">
        music_note
    </span>
    <hr>
    <span
        class="material-symbols-outlined nav-icon">
        question_mark
    </span>
    <hr>
    <span
        class="material-symbols-outlined nav-icon">
        question_mark
    </span>
</nav>
